.header-img{
  height: 75px;
  
  
}
header{
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  z-index:1;
  top: 0;
  right: 0;
  left: 90px;
  background-color: black;
  
  
}
.left-section,.middle-section,.right-section{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.middle-section{
  
  min-width: 220px;
  
}
.middle-section a{
  text-decoration: none;
  color: white;
}
.profile{
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.navbar-link{
  font-weight: bold;
  
  margin: 0px 15px 0px 0px;
}